{% extends 'pattern.html' %}
{% block title %}
Контакты
{% endblock %}

{% block body %}

    <div class="contact">
    <p>
        <b> Контактная информация</b><br><br>
       <b>  Организатор базы данных: Половнева Светлана Ивановна<br></b>
        E-mail: polovsi.edu <br>
        Phone: +7-924-154-64-12<br>
        <b>  Технический разработчик: Подкорытов Аексей Александрович<br></b>
        E-mail: podkorytov@istu.edu <br>
        Phone: +7-904-131-78-18


    </p>
    </div>


{% endblock %}