{% extends 'pattern.html' %}
{% block title %}
Контакты
{% endblock %}

{% block body %}

    <div class="contact">
    <p>
        <b> Контактная информация:</b><br><br>
       <b>  Организация базы данных: <br>
           Половнева Светлана Ивановна<br></b>
        E-mail: polovneva_si@mail.ru <br>
        Phone: +7-983-244-09-24 <br>
        <br>
        <b>  Техническая разработка:<br>
            Подкорытов Аексей Александрович<br></b>
        E-mail: podkorytov@istu.edu <br>
        Phone: +7-904-131-78-18 <br>
    Иркутский национально исследовательский университет:
        г. Иркутск ул. Лермонтова 83

    </p>
    </div>


{% endblock %}