{% extends 'pattern.html' %}
{% block title %}
{{ flow_list_detail.title }}
{% endblock %}

{% block body %}
<div class="about_info">
<h1>
    {{ flow_list_detail.model }} </h1>

<p>
    <b>Модель:</b>        {{ flow_list_detail.model }} <br>
    <b>Наименование:</b>       {{ flow_list_detail.title }} <br>
    <b>Принцип действия:</b>        {{ flow_list_detail.action }} <br>
    <b>Диапазон:</b>        {{ flow_list_detail.range }} <br>
    <b>Допускаемая погрешность:</b>        {{ flow_list_detail.error }} <br>
    <b>МПИ:</b>        {{ flow_list_detail.MPI }} <br>
    <b>Метод поверки:</b>        {{ flow_list_detail.method }} <br>

    <img src="/static/images/{{ flow_list_detail.name_image }}">    <br>
    <img src="/static/images/{{ flow_list_detail.NSH }}">    <br>
    <b>Примечание:</b>        {{ flow_list_detail.comment }} <br>

    <br>
<a class="button_update" href="/flow_list/{{ poz }}/{{ flow_list_detail.id }}/update">Редактировать</a>
</p>
<br>
<br>
</div>
{% endblock %}